---
import { APP_NAME, APP_VERSION } from 'astro:env/server';

import Document from '$lib/_document.astro';
import { oneLine } from '$lib/utils/string';

import type { HomeProps } from './_script.server';

export type Props = HomeProps;

const { createdBy } = Astro.props;
---

<Document title={`ðŸ  Homepage | ${APP_NAME}`}>
  <main
    class={oneLine`w-full h-full
      flex flex-col gap-2 items-center justify-center`}
  >
    <h1 class='text-center text-2xl font-bold'>
      {APP_NAME} v{APP_VERSION}
    </h1>
    <code>{JSON.stringify({ createdBy })}</code>
  </main>
</Document>
