---
import { APP_NAME, APP_VERSION } from 'astro:env/server';

import Document from '$lib/_document.astro';
import Layout from '$lib/layout/layout.astro';

import type { HomeProps } from './_script.server';

export type Props = HomeProps;

const { createdBy } = Astro.props;
---

<Document>
  <Layout class='layout-full gap-2 items-center justify-center'>
    <h1 class='text-center text-2xl font-bold'>
      {APP_NAME} v{APP_VERSION}
    </h1>
    <code>{JSON.stringify({ createdBy })}</code>
  </Layout>
</Document>
