@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes circleAnimation {
  0%,
  25% {
    stroke-dashoffset: 260;
    transform: rotate(0deg);
  }

  50%,
  75% {
    stroke-dashoffset: 80;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 260;
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1.6s linear infinite;
}

.spinner.small {
  @apply w-4 h-4;
}

.spinner.medium {
  @apply w-5 h-5;
}

.spinner.large {
  @apply w-6 h-6;
}

.spinner.primary,
.spinner.secondary {
  @apply text-primary-bright;
}

:global(.dark) .spinner.primary,
:global(.dark) .spinner.secondary {
  @apply text-primary-dim;
}

.spinner.text {
  @apply text-primary-dim;
}

:global(.dark) .spinner.text {
  @apply text-primary-bright;
}

.spinner circle {
  animation: circleAnimation 1.4s linear infinite;
  fill: transparent;
  stroke-linecap: round;
  stroke-dasharray: 290;
  stroke-dashoffset: 280;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  color: inherit;
  @apply block stroke-current;
}
