---
import * as m from '$/paraglide/messages';

import Document from '$lib/_document.astro';
import AlternateLinks from '$lib/components/alternate-links.astro';
import Layout from '$lib/layout/layout.astro';
import { DASHBOARD_PATH } from '$lib/utils/url';

import type { DashboardProps } from './_script.server';

export type Props = DashboardProps;

const { name = '' } = Astro.props.currentUser;
---

<Document noIndex title={`Dashboard ${name}`}>
  <Fragment slot='head'>
    <AlternateLinks pathname={DASHBOARD_PATH} />
  </Fragment>

  <Layout
    class='flex flex-col items-center justify-center layout-full text-center'
  >
    <h1>{m.dashboard_page()}</h1>
    <h3>{m.base_coming_soon()}!!!</h3>
  </Layout>
</Document>
