@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-neutral-dim dark:text-neutral-bright m-0 p-0;
  }

  body {
    @apply m-0 w-full p-0 bg-neutral-bright dark:bg-neutral-dim;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  span,
  p {
    margin: 0;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  label,
  span,
  p,
  input,
  textarea {
    @apply text-base font-normal;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold text-neutral-dim0 dark:text-neutral-bright0;
  }

  h4,
  h5 {
    @apply font-medium;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3,
  h4 {
    @apply text-xl;
  }

  h5,
  h6 {
    @apply text-lg;
  }

  input {
    -webkit-appearance: none;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 0;
    border: none;
  }

  input[type='button'i],
  input[type='submit'i],
  input[type='reset'i],
  input[type='file'i]::-webkit-file-upload-button,
  input {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 0;
    border: none;
  }

  input:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}

@layer components {
  .btn {
    @apply flex gap-3 items-center justify-center px-3;
    @apply font-semibold text-base;
    @apply border-none rounded;
  }

  .btn:disabled {
    @apply cursor-not-allowed opacity-30;
  }

  .btn:hover:not(:disabled) {
    filter: brightness(0.8);
  }

  .btn.btn-solid {
    @apply text-neutral-bright dark:text-neutral-dim;
  }

  .btn.btn-solid:disabled {
    @apply opacity-50;
  }

  .btn.btn-solid.btn-primary {
    @apply bg-primary-dim dark:bg-primary-bright;
  }

  .btn.btn-solid.btn-secondary {
    @apply bg-secondary-dim dark:bg-secondary-bright;
  }

  .btn.btn-solid.btn-danger {
    @apply bg-danger-dim dark:bg-danger-bright;
  }

  .btn.btn-outline {
    @apply bg-transparent;
    @apply border border-solid;
  }

  .btn.btn-outline.btn-primary {
    @apply border-primary-dim text-primary-dim;
    @apply dark:border-primary-bright dark:text-primary-bright;
  }

  .btn.btn-outline.btn-secondary {
    @apply border-secondary-dim text-secondary-dim;
    @apply dark:border-secondary-bright dark:text-secondary-bright;
  }

  .btn.btn-outline.btn-danger {
    @apply border-danger-dim text-danger-dim;
    @apply dark:border-danger-bright dark:text-danger-bright;
  }

  .btn.btn-text {
    @apply bg-transparent;
  }

  .btn.btn-text:hover:not(:disabled) {
    @apply filter-none underline;
  }

  .btn.btn-text.btn-primary {
    @apply text-primary-dim dark:text-primary-bright;
  }

  .btn.btn-text.btn-secondary {
    @apply text-secondary-dim dark:text-secondary-bright;
  }

  .btn.btn-text.btn-danger {
    @apply text-danger-dim dark:text-danger-bright;
  }

  .small {
    @apply w-4 h-4;
  }

  .medium {
    @apply w-5 h-5;
  }

  .large {
    @apply w-6 h-6;
  }

  .solid.primary {
    @apply text-primary-bright dark:text-primary-dim;
    @apply fill-primary-bright dark:fill-primary-dim;
  }

  .solid.secondary {
    @apply text-secondary-bright dark:text-secondary-dim;
    @apply fill-secondary-bright dark:fill-secondary-dim;
  }

  .solid.danger {
    @apply text-danger-bright dark:text-danger-dim;
  }

  .outline.primary,
  .text.primary {
    @apply text-primary-dim dark:text-primary-bright;
  }

  .outline.secondary,
  .text.secondary {
    @apply text-secondary-dim dark:text-secondary-bright;
  }

  .outline.danger,
  .text.danger {
    @apply text-danger-dim dark:text-danger-bright;
  }
}

#__next {
  @apply relative h-screen flex flex-col;
}
