---
import { actions } from 'astro:actions';
import { GOOGLE_AUTH_CLIENT_ID } from 'astro:env/server';

import * as m from '$/paraglide/messages';
import { languageTag } from '$/paraglide/runtime';

import Snackbar from '$lib/components/snackbar.svelte';
import { homepagePath } from '$lib/utils/url';

export interface Props {
  failedSignIn: boolean;
}

const { failedSignIn } = Astro.props;

const { isErrorPage, isMobile } = Astro.locals;
const { origin, pathname, search } = Astro.url;

const redirectURL = isErrorPage ? homepagePath() : pathname + search;

const loginURI = new URL(actions.signIn.toString(), origin);
loginURI.searchParams.set('r', redirectURL);
---

<div
  id='g_id_onload'
  data-client_id={GOOGLE_AUTH_CLIENT_ID}
  data-context='use'
  data-ux_mode='popup'
  data-login_uri={loginURI.href}
  data-nonce=''
  data-auto_prompt='false'
  data-use_fedcm_for_prompt='true'
>
</div>

<div
  class='g_id_signin'
  data-locale={languageTag()}
  data-shape='pill'
  data-theme='filled_blue'
  data-text='signin_with'
  data-type={isMobile ? 'icon' : 'standard'}
  data-size='large'
  data-logo_alignment='left'
  transition:persist
>
</div>

{
  failedSignIn && (
    <div class='snackbar-container'>
      <Snackbar variant='error' client:load>
        {m.app_sign_in_failed()}
      </Snackbar>
    </div>
  )
}

<style lang='scss'>
  .g_id_signin {
    color-scheme: light;
  }
</style>
