/*
Adapted from
https://github.com/chakra-ui/chakra-ui/blob/main/packages/visually-hidden/src/visually-hidden.tsx
*/

.visuallyHidden {
  @apply border-0 overflow-hidden whitespace-nowrap absolute p-0;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
}
