---
import Footer from './components/footer/footer.astro';
import Header from './components/header/header.astro';

export interface Props {
  /**
   * class for `main` element
   */
  class?: string;
}

const { class: className } = Astro.props;
---

<Header />

<main class={className}>
  <slot />
</main>

<Footer />

<style lang='scss'>
  main {
    padding: 12px;
  }
</style>
