.googleLogin {
  background-color: #4285f4;
  color: white;
  height: 3.125rem;
  @apply text-base px-2;
}

:global(.dark) .googleLogin {
  background-color: white;
  color: black;
}

@media (max-width: 639.5px) {
  .googleLogin {
    @apply text-sm;
  }
}
